BITCOIN_SOCKET_PATH=/absolute/path/to/your/node.sock

#Pool Settings
POOL_COINBASE_REWARD_SCRIPT=addr(tb1qa0sm0hxzj0x25rh8gw5xlzwlsfvvyz8u96w3p8)
POOL_SIGNATURE="Stratum V2 SRI Pool"
POOL_SHARES_PER_MINUTE=6.0
POOL_SHARE_BATCH_SIZE=10
POOL_FEE_THRESHOLD=100
POOL_MIN_INTERVAL=5

#JDS Settings
JDS_COINBASE_REWARD_SCRIPT=addr(tb1qa0sm0hxzj0x25rh8gw5xlzwlsfvvyz8u96w3p8)
JDS_CORE_RPC_PORT=38332
JDS_CORE_RPC_USER=username
JDS_CORE_RPC_PASS=password

#JDC Settings
JDC_USER_IDENTITY=your_username_here
JDC_SHARES_PER_MINUTE=6.0
JDC_SHARE_BATCH_SIZE=10
JDC_SIGNATURE=Sv2MinerSignature
JDC_COINBASE_REWARD_SCRIPT=addr(tb1qr8xjkrx46yfsch7q2ts2g007haufq48n9pe6qc)
JDC_FEE_THRESHOLD=100
JDC_MIN_INTERVAL=5
JDC_UPSTREAM_AUTHORITY_PUBKEY=9auqWEzQDVyd2oe1JVGFLMLHZtCo2FFqZwtKA5gd9xbuEu7PH72
JDC_POOL_ADDRESS=172.28.0.11
JDC_POOL_PORT=34254
JDC_UPSTREAM_JDS_ADDRESS=172.28.0.12
JDC_UPSTREAM_JDS_PORT=34264

#Tproxy Settings
TPROXY_USER_IDENTITY=your_username_here
TPROXY_AGGREGATE_CHANNELS=false
TPROXY_MIN_INDIVIDUAL_MINER_HASHRATE=10_000_000_000_000.0
TPROXY_SHARES_PER_MINUTE=6.0
TPROXY_ENABLE_VARDIFF=true
TPROXY_UPSTREAM_ADDRESS=172.28.0.13 # if pool_and_miner_apps_no_jd, pass the pool IP
TPROXY_UPSTREAM_PORT=34265 #if pool_and_miner_apps_no_jd, pass the pool port
TPROXY_UPSTREAM_AUTHORITY_PUBKEY=9auqWEzQDVyd2oe1JVGFLMLHZtCo2FFqZwtKA5gd9xbuEu7PH72

